<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Reminder</title>
</head>
<body>
   
    <h1>Konck Knock {{ data }},</h1>
    <p>You forgot to listen to any songs today..</p>
    <p>Are you  husy? our creators have created the best songs to cater yoyr mood. No matter how busy you are a little jamming session will help your mood. fee;l free to have some fun
    </p>
    <p>Thank you!</p>
</body>
</html>
